---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/public/srikar2.jpg"
>
<p>
    Hello! I’m Srikar Madarapu, currently pursuing a Master’s in Data Science. While my academic and professional focus is on technology and research, I have a deep passion for photography and a love for exploring new places by road.
  </p>
  
  <p>
    Photography has been a significant part of my life for over a decade, allowing me to capture and appreciate the world through my lens. In addition, I enjoy embarking on long road trips, discovering new destinations, and fully immersing myself in the journey.
  </p>
  
  <p>
    Here are some of my recent road trip adventures:
    <ul>
		<li><strong>Seattle to Miami</strong> (In Planning)</li>
		<li><strong>Chicago to Seattle to San Francisco to Dallas to Miami to Boston to Chicago</strong> (In Planning)</li>
		<li><strong>Chicago to DC to New York</strong> (Completed)</li>
		<li><strong>New York to Boston</strong> (Completed)</li>
		<li><strong>New York to Atlanta</strong> (Completed)</li>
		<li><strong>Atlanta to Tampa</strong> (Completed)</li>
		<li><strong>Atlanta to Dallas to NOLA </strong> (Completed)</li>
		<li><strong>LA to San Francisco </strong> (Completed)</li>
		<li><strong>San Francisco to Seattle</strong> (Completed)</li>
		<li><strong>Chicago to Madison</strong> (Completed)</li>
		<li><strong>Chicago to Cincinnati</strong> (Completed)</li>
		<li><strong>Chicago to Omaha</strong> (Completed)</li>
    </ul>
  </p>
  <p>
    Beyond traveling, I enjoy playing board and card games, which are perfect for relaxation and fun.
  </p>
  
  <p>
    Feel free to explore my website to learn more about my work and interests, or get in touch if you’d like to connect!
  </p>
  
  <img src="public/roadtrips/7.jpg" alt="Chicago to DC to New York" />
  <img src="public/roadtrips/6.jpg" alt="New York to Boston" />
  <img src="public/roadtrips/5.jpg" alt="New York to Atlanta" />
  <img src="public/roadtrips/4.jpg" alt="Atlanta to Tampa" />
  <img src="public/roadtrips/3.jpg" alt="Atlanta to Dallas to NOLA" />
  <img src="public/roadtrips/2.jpg" alt="LA to San Francisco" />
  <img src="public/roadtrips/1.jpg" alt="SFO to Seattle" />
  <img src="public/roadtrips/10.jpg" alt="Chicago to Madison" />
  <img src="public/roadtrips/9.jpg" alt="Chicago to Cincinnati" />
  <img src="public/roadtrips/8.jpg" alt="Chicago to Omaha" />
  

</Layout>

